# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.db

# Folders
_obj
_test
_tmp
bin
node_modules
.idea

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

.DS_Store

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go
*.exe
*.test
*.ml
*.pem
config.json
database.json
domain.json
postman/src/postman/main/postman/postman
