@import url(//fonts.useso.com/css?family=Open+Sans:400,600,700,300);

body {
    font-family: sans-serif;
}

.ui.popup {
    max-width: 800px !important;
}

/* red heart divider in top */
.divider {
    margin: 0.2rem 0 0 !important;
}

/* actions for sender list in /sender/* */
.sender-list a {
    font-size: 0.9em;
}

.sender-list .dashboard {
    color: #405E7E;
}

.sender-list .dashboard:hover {
    color: #000000;
}

.sender-list .remove {
    color: #D95C5C;
}

#form-createSender {
    border: none !important;
}

.red a {
    color: #FDCFCF;
}

.red a:hover {
    color: #FFCB08;
}