.row#sender-manager
  .four.wide.column
    .ui.vertical.pointing.menu#nav-currentStatus
      %a.item.status-all(href="#all" )
        %i.meh.icon
        All
      %a.item.status-online(href="#online" )
        %i.blue.ok.sign.icon
        Online
      %a.item.status-offline(href="#offline" )
        %i.red.attention.icon
        Offline
  .twelve.wide.column#holder-senderList

.ui.small.modal.create-sender
  .header
    Create Sender
  = form_for :sender, '/sender/create', class: 'ui form segment' ,id: 'form-createSender' do |f|
    .field
      .ui.left.labeled.icon.input
        = f.text_field 'ip', placeholder: 'sender ip'
        %i.cloud.icon
    .field
      .ui.left.labeled.icon.input
        = f.text_field 'domain', placeholder: 'hostname'
        %i.rocket.icon

  .actions
    .ui.button.negative
      Cancel
    .ui.button.positive#btn-submitSender
      Create

- content_for :javascript do
  = javascript_include_tag 'sender/index'