.row
  .four.wide.column
    .ui.secondary.vertical.pointing.menu
      %a.item.active
        %i.meh.icon
        All
      %a.item
        %i.blue.ok.sign.icon
        Online
      %a.item
        %i.red.attention.icon
        Offline
  .twelve.wide.column
    -#.ui.yellow.icon.message
    -#  %i.close.icon
    -#  %i.coffee.icon
    -#  .content
    -#    .header
    -#      You have not created any sender yet ＜(""O"")＞
    -#    %p
    -#      Create a sender and start to send email with love.

    .ui.purple.right.labeled.tiny.icon.button
      %i.right.terminal.icon
      Create Sender
    %table.ui.table.segment
      %thead
        %tr
          %th IP
          %th Status
          %th Comment
          %th Action
      %tbody
        %tr
          %td 192.168.0.2
          %td online
          %td
          %td
        %tr
          %td 192.168.0.3
          %td online
          %td
          %td
        %tr.error
          %td 192.168.0.4
          %td offline
          %td
          %td